name: frank_martin
description: frontend for transport2go

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

  datetime_picker_formfield: ^1.0.0
  #blocs
  tetris_blocs: ^1.0.0
  quiver: ^2.0.5
  flutter_web_auth: ^0.1.3
  flutter_webview_plugin: ^0.3.10+1
  openid_client: ^0.2.5

  dio: ^3.0.9
  dio_http_cache: ^0.2.6
  dio_flutter_transformer: ^3.0.2


  flutter_typeahead: 1.8.0
  flutter_vector_icons: 0.2.1

  flutter_inner_drawer: ^0.5.5

  morpheus: 1.2.2+1

  flare_flutter: 2.0.1

  timeline_list: 0.0.5

  sprung: 1.1.0+11

  transformer_page_view: 0.1.6

  draggable_scrollbar: 0.0.4

  marquee: 1.3.1

  # r2g SDK
  openapi:
    git:
      url: git://github.com/fahrgemeinschaft/r2gApi-dart-sdk.git


dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  assets:
    - assets/images/transport2go_icon_full.png
    - assets/images/transport2go_icon_full_light.png
    - assets/animations/flare/Location.flr
    - assets/animations/flare/Heart.flr
    - assets/animations/flare/Happy.flr

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
